<main>
    <form class="user-form" action="/register" method="POST">
        <div class="form-control">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-control">
                <label for="email">email</label>
                <input type="text" name="email" id="email" value="">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="text" name="password" id="password"  value="">
            </div>

        <button class="btn" type="submit">Register</button>
    </form>
</main>